.carousel-items-outer {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  padding: 0 64px;
}

.carousel-items-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 22%;
  margin-bottom: 10px;
}

.movie-poster {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.movie-detail-block {
  width: 100%;
  padding: 10px;
  height: 230px;
  color: #ffffff;
  text-align: center;
  background-color: #27272a;
  border-radius: 0 0 10px 10px;
}

.movie-detail-block h5 {
  font-size: 1.3rem;
}

.movie-detail-block p {
  margin-bottom: 10px;
  font-size: 0.97rem;
}
