* {
  padding: 0;
  margin: 0;
  align-content: center;
}

.main-nav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: inherit;
}

.nav-1 {
  width: 30%;
}

.nav-2 {
  width: 40%;
  text-align: center;
}

.nav-3 {
  width: 30%;
}

.login-btn {
  display: flex;
  margin-right: 30px;
  justify-content: flex-end;
}

.home-nav:hover {
  background-color: green;
  transition: 0.5s;
}

.nav-icon {
  width: 80%;
  display: flex;
  position: initial;
  padding-bottom: 25px;
}
